<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ymail</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>one controller read username and gender</description>
    <display-name>OneController</display-name>
    <servlet-name>OneController</servlet-name>
    <servlet-class>com.ymail.OneController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OneController</servlet-name>
    <url-pattern>/OneController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>two controller reads the given data</description>
    <display-name>TwoController</display-name>
    <servlet-name>TwoController</servlet-name>
    <servlet-class>com.ymail.TwoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwoController</servlet-name>
    <url-pattern>/TwoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>three controller reads the previous two pages  data</description>
    <display-name>ThreeController</display-name>
    <servlet-name>ThreeController</servlet-name>
    <servlet-class>com.ymail.ThreeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThreeController</servlet-name>
    <url-pattern>/ThreeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>three controller reads the previous two pages data</description>
    <display-name>Threecontroller</display-name>
    <servlet-name>Threecontroller</servlet-name>
    <servlet-class>com.ymail.ThreeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Threecontroller</servlet-name>
    <url-pattern>/Threecontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadContextController</display-name>
    <servlet-name>ReadContextController</servlet-name>
    <servlet-class>com.ymail.ReadContextController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadContextController</servlet-name>
    <url-pattern>/ReadContextController</url-pattern>
  </servlet-mapping>
</web-app>